In [88]:
import pandas as pd

myDataset = pd.read_csv('Data/ozone.csv')

In [89]:
myDataset["Resultat"] = False
myDataset

,JOUR,O3obs,MOCAGE,TEMPE,RMH2O,NO2,NO,STATION,VentMOD,VentANG,Resultat
0,1,91,93.2,21.5,0.00847,1.602,0.424,Aix,9.5000,-0.64350,False
1,1,100,104.6,20.2,0.00881,2.121,0.531,Aix,8.0100,-0.04996,False
2,0,82,103.6,17.4,0.00951,1.657,0.467,Aix,9.3771,-0.12832,False
3,0,94,94.8,18.8,0.00855,2.350,0.701,Aix,9.4578,-0.34516,False
4,0,107,99.0,23.7,0.00731,1.653,0.452,Aix,7.8791,-0.41822,False
...,...,...,...,...,...,...,...,...,...,...,...
1036,0,116,233.6,22.1,0.01048,4.843,0.431,Pla,4.8052,-0.20964,False
1037,0,60,162.5,15.8,0.00789,3.166,0.411,Pla,2.7203,-0.62880,False
1038,0,74,198.4,16.2,0.00811,8.349,0.942,Pla,4.0311,0.12435,False
1039,0,121,191.7,16.4,0.00722,2.101,0.199,Pla,3.8000,0.00000,False
1040,1,93,221.2,16.7,0.00919,2.290,0.202,Pla,2.3022,0.04345,False

In [90]:
myDataset["Pow2_O3obs"] = myDataset["O3obs"]**2
myDataset

,JOUR,O3obs,MOCAGE,TEMPE,RMH2O,NO2,NO,STATION,VentMOD,VentANG,Resultat,Pow2_O3obs
0,1,91,93.2,21.5,0.00847,1.602,0.424,Aix,9.5000,-0.64350,False,8281
1,1,100,104.6,20.2,0.00881,2.121,0.531,Aix,8.0100,-0.04996,False,10000
2,0,82,103.6,17.4,0.00951,1.657,0.467,Aix,9.3771,-0.12832,False,6724
3,0,94,94.8,18.8,0.00855,2.350,0.701,Aix,9.4578,-0.34516,False,8836
4,0,107,99.0,23.7,0.00731,1.653,0.452,Aix,7.8791,-0.41822,False,11449
...,...,...,...,...,...,...,...,...,...,...,...,...
1036,0,116,233.6,22.1,0.01048,4.843,0.431,Pla,4.8052,-0.20964,False,13456
1037,0,60,162.5,15.8,0.00789,3.166,0.411,Pla,2.7203,-0.62880,False,3600
1038,0,74,198.4,16.2,0.00811,8.349,0.942,Pla,4.0311,0.12435,False,5476
1039,0,121,191.7,16.4,0.00722,2.101,0.199,Pla,3.8000,0.00000,False,14641
1040,1,93,221.2,16.7,0.00919,2.290,0.202,Pla,2.3022,0.04345,False,8649

In [91]:
myDataset["Total"] = myDataset.iloc[:,5:7].sum(axis=1) #axis=1 pour sommer les colonnes par ligne
myDataset

,JOUR,O3obs,MOCAGE,TEMPE,RMH2O,NO2,NO,STATION,VentMOD,VentANG,Resultat,Pow2_O3obs,Total
0,1,91,93.2,21.5,0.00847,1.602,0.424,Aix,9.5000,-0.64350,False,8281,2.026
1,1,100,104.6,20.2,0.00881,2.121,0.531,Aix,8.0100,-0.04996,False,10000,2.652
2,0,82,103.6,17.4,0.00951,1.657,0.467,Aix,9.3771,-0.12832,False,6724,2.124
3,0,94,94.8,18.8,0.00855,2.350,0.701,Aix,9.4578,-0.34516,False,8836,3.051
4,0,107,99.0,23.7,0.00731,1.653,0.452,Aix,7.8791,-0.41822,False,11449,2.105
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1036,0,116,233.6,22.1,0.01048,4.843,0.431,Pla,4.8052,-0.20964,False,13456,5.274
1037,0,60,162.5,15.8,0.00789,3.166,0.411,Pla,2.7203,-0.62880,False,3600,3.577
1038,0,74,198.4,16.2,0.00811,8.349,0.942,Pla,4.0311,0.12435,False,5476,9.291
1039,0,121,191.7,16.4,0.00722,2.101,0.199,Pla,3.8000,0.00000,False,14641,2.300
1040,1,93,221.2,16.7,0.00919,2.290,0.202,Pla,2.3022,0.04345,False,8649,2.492

In [92]:
myDataset["Total"] = myDataset.loc[:,["NO2","NO"]].sum(axis=1)
myDataset

,JOUR,O3obs,MOCAGE,TEMPE,RMH2O,NO2,NO,STATION,VentMOD,VentANG,Resultat,Pow2_O3obs,Total
0,1,91,93.2,21.5,0.00847,1.602,0.424,Aix,9.5000,-0.64350,False,8281,2.026
1,1,100,104.6,20.2,0.00881,2.121,0.531,Aix,8.0100,-0.04996,False,10000,2.652
2,0,82,103.6,17.4,0.00951,1.657,0.467,Aix,9.3771,-0.12832,False,6724,2.124
3,0,94,94.8,18.8,0.00855,2.350,0.701,Aix,9.4578,-0.34516,False,8836,3.051
4,0,107,99.0,23.7,0.00731,1.653,0.452,Aix,7.8791,-0.41822,False,11449,2.105
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1036,0,116,233.6,22.1,0.01048,4.843,0.431,Pla,4.8052,-0.20964,False,13456,5.274
1037,0,60,162.5,15.8,0.00789,3.166,0.411,Pla,2.7203,-0.62880,False,3600,3.577
1038,0,74,198.4,16.2,0.00811,8.349,0.942,Pla,4.0311,0.12435,False,5476,9.291
1039,0,121,191.7,16.4,0.00722,2.101,0.199,Pla,3.8000,0.00000,False,14641,2.300
1040,1,93,221.2,16.7,0.00919,2.290,0.202,Pla,2.3022,0.04345,False,8649,2.492

In [93]:
columns=list(myDataset.columns)
newDataset = myDataset[columns[0:7]+[columns[-1]]+columns[7:-1]]
newDataset

,JOUR,O3obs,MOCAGE,TEMPE,RMH2O,NO2,NO,Total,STATION,VentMOD,VentANG,Resultat,Pow2_O3obs
0,1,91,93.2,21.5,0.00847,1.602,0.424,2.026,Aix,9.5000,-0.64350,False,8281
1,1,100,104.6,20.2,0.00881,2.121,0.531,2.652,Aix,8.0100,-0.04996,False,10000
2,0,82,103.6,17.4,0.00951,1.657,0.467,2.124,Aix,9.3771,-0.12832,False,6724
3,0,94,94.8,18.8,0.00855,2.350,0.701,3.051,Aix,9.4578,-0.34516,False,8836
4,0,107,99.0,23.7,0.00731,1.653,0.452,2.105,Aix,7.8791,-0.41822,False,11449
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1036,0,116,233.6,22.1,0.01048,4.843,0.431,5.274,Pla,4.8052,-0.20964,False,13456
1037,0,60,162.5,15.8,0.00789,3.166,0.411,3.577,Pla,2.7203,-0.62880,False,3600
1038,0,74,198.4,16.2,0.00811,8.349,0.942,9.291,Pla,4.0311,0.12435,False,5476
1039,0,121,191.7,16.4,0.00722,2.101,0.199,2.300,Pla,3.8000,0.00000,False,14641
1040,1,93,221.2,16.7,0.00919,2.290,0.202,2.492,Pla,2.3022,0.04345,False,8649

In [94]:
myDataset=myDataset.drop(columns=["Pow2_O3obs","Total"])
myDataset

,JOUR,O3obs,MOCAGE,TEMPE,RMH2O,NO2,NO,STATION,VentMOD,VentANG,Resultat
0,1,91,93.2,21.5,0.00847,1.602,0.424,Aix,9.5000,-0.64350,False
1,1,100,104.6,20.2,0.00881,2.121,0.531,Aix,8.0100,-0.04996,False
2,0,82,103.6,17.4,0.00951,1.657,0.467,Aix,9.3771,-0.12832,False
3,0,94,94.8,18.8,0.00855,2.350,0.701,Aix,9.4578,-0.34516,False
4,0,107,99.0,23.7,0.00731,1.653,0.452,Aix,7.8791,-0.41822,False
...,...,...,...,...,...,...,...,...,...,...,...
1036,0,116,233.6,22.1,0.01048,4.843,0.431,Pla,4.8052,-0.20964,False
1037,0,60,162.5,15.8,0.00789,3.166,0.411,Pla,2.7203,-0.62880,False
1038,0,74,198.4,16.2,0.00811,8.349,0.942,Pla,4.0311,0.12435,False
1039,0,121,191.7,16.4,0.00722,2.101,0.199,Pla,3.8000,0.00000,False
1040,1,93,221.2,16.7,0.00919,2.290,0.202,Pla,2.3022,0.04345,False

In [95]:
myDataset["Resultat"] = False
columns = list(myDataset.columns)
myDataset = myDataset[columns[:3]+[columns[-1]]+columns[3:-1]]
dif=abs(myDataset["O3obs"]-myDataset["MOCAGE"])
myDataset.loc[dif < 2.5, "Resultat"] = True
myDataset

,JOUR,O3obs,MOCAGE,Resultat,TEMPE,RMH2O,NO2,NO,STATION,VentMOD,VentANG
0,1,91,93.2,True,21.5,0.00847,1.602,0.424,Aix,9.5000,-0.64350
1,1,100,104.6,False,20.2,0.00881,2.121,0.531,Aix,8.0100,-0.04996
2,0,82,103.6,False,17.4,0.00951,1.657,0.467,Aix,9.3771,-0.12832
3,0,94,94.8,True,18.8,0.00855,2.350,0.701,Aix,9.4578,-0.34516
4,0,107,99.0,False,23.7,0.00731,1.653,0.452,Aix,7.8791,-0.41822
...,...,...,...,...,...,...,...,...,...,...,...
1036,0,116,233.6,False,22.1,0.01048,4.843,0.431,Pla,4.8052,-0.20964
1037,0,60,162.5,False,15.8,0.00789,3.166,0.411,Pla,2.7203,-0.62880
1038,0,74,198.4,False,16.2,0.00811,8.349,0.942,Pla,4.0311,0.12435
1039,0,121,191.7,False,16.4,0.00722,2.101,0.199,Pla,3.8000,0.00000
1040,1,93,221.2,False,16.7,0.00919,2.290,0.202,Pla,2.3022,0.04345

In [96]:
myDataset = myDataset.drop(columns=["Resultat"])

In [97]:
myDataset.tail(3)

,JOUR,O3obs,MOCAGE,TEMPE,RMH2O,NO2,NO,STATION,VentMOD,VentANG
1038,0,74,198.4,16.2,0.00811,8.349,0.942,Pla,4.0311,0.12435
1039,0,121,191.7,16.4,0.00722,2.101,0.199,Pla,3.8000,0.00000
1040,1,93,221.2,16.7,0.00919,2.290,0.202,Pla,2.3022,0.04345

In [98]:
new_row = {
    "JOUR":0, 
    "O3obs":10,
    "MOCAGE":10,
    "TEMPE":10,
    "RMH20":10,
    "NO2":10,
    "NO":10,
    "STATION":"Aix",
    "VentMOD":10,
    "VentANG":10
}
myDataset = pd.concat([myDataset,pd.DataFrame([new_row])])

myDataset.tail(3)

,JOUR,O3obs,MOCAGE,TEMPE,RMH2O,NO2,NO,STATION,VentMOD,VentANG,RMH20
1039,0,121,191.7,16.4,0.00722,2.101,0.199,Pla,3.8000,0.00000,NaN
1040,1,93,221.2,16.7,0.00919,2.290,0.202,Pla,2.3022,0.04345,NaN
0,0,10,10.0,10.0,NaN,10.000,10.000,Aix,10.0000,10.00000,10.0