In [1]:
import pandas as pd

myDataset = pd.read_csv("Data/ozone.csv")

In [2]:
stat = myDataset.describe()
stat

,JOUR,O3obs,MOCAGE,TEMPE,RMH2O,NO2,NO,VentMOD,VentANG
count,1041.000000,1041.000000,1041.000000,1041.000000,1041.000000,1041.000000,1041.000000,1041.000000,1041.000000
mean,0.304515,115.400576,127.219693,23.883381,0.010251,3.504645,0.657417,5.907186,0.163111
std,0.460423,40.999155,39.820186,5.217462,0.003731,4.043308,0.844180,3.054307,0.708288
min,0.000000,19.000000,46.400000,10.400000,0.002850,0.258000,0.001000,0.141420,-1.570790
25%,0.000000,87.000000,97.500000,20.200000,0.007630,1.248000,0.236000,3.962320,-0.394790
50%,0.000000,109.000000,125.600000,23.800000,0.009850,2.109000,0.388000,5.597300,0.278300
75%,1.000000,135.000000,153.600000,27.600000,0.012440,4.062000,0.744000,7.106300,0.692640
max,1.000000,319.000000,284.700000,38.000000,0.027530,44.396000,9.429000,19.891000,1.570790

In [3]:
mean = myDataset.groupby(["STATION"]).mean()
mean

,JOUR,O3obs,MOCAGE,TEMPE,RMH2O,NO2,NO,VentMOD,VentANG
STATION,,,,,,,,,
Aix,0.296482,119.497487,135.400000,25.766332,0.009962,6.732271,1.261814,6.794890,0.095520
Als,0.310811,103.031532,100.561261,23.440541,0.010876,2.055248,0.418748,4.030981,0.542178
Cad,0.301980,130.366337,137.567327,26.896535,0.009894,2.559297,0.386723,6.927032,0.034590
Pla,0.302885,122.230769,153.216346,21.160096,0.010253,2.029635,0.356861,7.610496,0.048896
Ram,0.309524,103.433333,111.947143,22.366190,0.010204,4.348600,0.895062,4.381315,0.063185

In [4]:
mean = myDataset.groupby(["STATION"]).mean().sort_values("O3obs",ascending=False)
mean

,JOUR,O3obs,MOCAGE,TEMPE,RMH2O,NO2,NO,VentMOD,VentANG
STATION,,,,,,,,,
Cad,0.301980,130.366337,137.567327,26.896535,0.009894,2.559297,0.386723,6.927032,0.034590
Pla,0.302885,122.230769,153.216346,21.160096,0.010253,2.029635,0.356861,7.610496,0.048896
Aix,0.296482,119.497487,135.400000,25.766332,0.009962,6.732271,1.261814,6.794890,0.095520
Ram,0.309524,103.433333,111.947143,22.366190,0.010204,4.348600,0.895062,4.381315,0.063185
Als,0.310811,103.031532,100.561261,23.440541,0.010876,2.055248,0.418748,4.030981,0.542178

In [7]:
byDayOff = myDataset.groupby(["STATION", "JOUR"]).mean()
byDayOff

                   O3obs      MOCAGE      TEMPE     RMH2O       NO2        NO  \
STATION JOUR
Aix     0     119.571429  136.391429  25.797857  0.010122  6.837729  1.282143
        1     119.322034  133.047458  25.691525  0.009581  6.482034  1.213576
Als     0     103.267974  101.909804  23.594118  0.010888  2.095902  0.418065
        1     102.507246   97.571014  23.100000  0.010850  1.965101  0.420261
Cad     0     130.000000  137.509929  26.800000  0.010079  2.594823  0.394241
        1     131.213115  137.700000  27.119672  0.009467  2.477180  0.369344
Pla     0     122.917241  154.862759  21.135172  0.010381  2.183779  0.375607
        1     120.650794  149.426984  21.217460  0.009959  1.674857  0.313714
Ram     0     103.179310  112.291034  22.362759  0.010446  4.353931  0.884745
        1     104.000000  111.180000  22.373846  0.009663  4.336708  0.918077

               VentMOD   VentANG
STATION JOUR
Aix     0     6.864774  0.073687
        1     6.629063  0.147328
Als     0     4.041690  0.531743
        1     4.007236  0.565317
Cad     0     6.916354  0.027821
        1     6.951713  0.050234
Pla     0     7.830073  0.000176
        1     7.105121  0.161028
Ram     0     4.399357  0.046509
        1     4.341068  0.100384